In [1]:
import pyspark

spark = pyspark.sql.SparkSession.builder.getOrCreate()

23/03/08 09:26:46 WARN Utils: Your hostname, Bartholomews-MacBook-Air.local resolves to a loopback address: 127.0.0.1, but we couldn't find any external IP address!
23/03/08 09:26:46 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/03/08 09:26:47 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [2]:
import pandas as pd
import numpy as np

Create a spark data frame that contains your favorite programming languages.

The name of the column should be language

In [12]:
df = pd.DataFrame(['python','sql','c','pasquel'], columns=['language'])
df

  language
0   python
1      sql
2        c
3  pasquel

In [13]:
df = spark.createDataFrame(df)
df

DataFrame[language: string]

View the schema of the dataframe

In [14]:
df.printSchema()

root
 |-- language: string (nullable = true)

Output the shape of the dataframe

In [18]:
df.describe().show()

+-------+--------+
|summary|language|
+-------+--------+
|  count|       4|
|   mean|    null|
| stddev|    null|
|    min|       c|
|    max|     sql|
+-------+--------+

Show the first 5 records in the dataframe

In [15]:
df.show(5)

+--------+
|language|
+--------+
|  python|
|     sql|
|       c|
| pasquel|
+--------+

Load the mpg dataset as a spark dataframe.

In [20]:
from pydataset import data

In [21]:
mpg = spark.createDataFrame(data('mpg'))
mpg.show(5)

+------------+-----+-----+----+---+----------+---+---+---+---+-------+
|manufacturer|model|displ|year|cyl|     trans|drv|cty|hwy| fl|  class|
+------------+-----+-----+----+---+----------+---+---+---+---+-------+
|        audi|   a4|  1.8|1999|  4|  auto(l5)|  f| 18| 29|  p|compact|
|        audi|   a4|  1.8|1999|  4|manual(m5)|  f| 21| 29|  p|compact|
|        audi|   a4|  2.0|2008|  4|manual(m6)|  f| 20| 31|  p|compact|
|        audi|   a4|  2.0|2008|  4|  auto(av)|  f| 21| 30|  p|compact|
|        audi|   a4|  2.8|1999|  6|  auto(l5)|  f| 16| 26|  p|compact|
+------------+-----+-----+----+---+----------+---+---+---+---+-------+
only showing top 5 rows

In [27]:
from pyspark.sql.functions import lit
from pyspark.sql.functions import concat

In [33]:
mpg.select(concat(lit('The '), mpg.year, lit(' '), mpg.manufacturer, lit(' '), mpg.model,
                  lit(' '), lit('has a'), 
                  mpg.cyl, lit(' cylinder engine.'))).show(4, truncate=False)

+-------------------------------------------------------------------------------+
|concat(The , year,  , manufacturer,  , model,  , has a, cyl,  cylinder engine.)|
+-------------------------------------------------------------------------------+
|The 1999 audi a4 has a4 cylinder engine.                                       |
|The 1999 audi a4 has a4 cylinder engine.                                       |
|The 2008 audi a4 has a4 cylinder engine.                                       |
|The 2008 audi a4 has a4 cylinder engine.                                       |
+-------------------------------------------------------------------------------+
only showing top 4 rows

Create 1 column of output that contains a message like the one below:


The 1999 audi a4 has a 4 cylinder engine.
For each vehicle.

Transform the trans column so that it only contains either manual or auto.

Load the tips dataset as a spark dataframe.

What percentage of observations are smokers?

Create a column that contains the tip percentage

Calculate the average tip percentage for each combination of sex and smoker.

Use the seattle weather dataset referenced in the lesson to answer the questions below.

Convert the temperatures to fahrenheit.

Which month has the most rain, on average?

Which year was the windiest?

What is the most frequent type of weather in January?

What is the average high and low temperature on sunny days in July in 2013 and 2014?

What percentage of days were rainy in q3 of 2015?

For each year, find what percentage of days it rained (had non-zero precipitation).